/*Estilos aplicados ao website Prototipando...*/

/*Seletor Universal - seleciona todos os elementos da página e aplica estilos comuns padronizados*/
* {
  margin: 0; /*Remove a margem padrão de todos os elementos*/
  padding: 0; /*Remove o padding de todos os elementos*/
  box-sizing: border-box; /*Inclui bordas e preenchimentos no cálculo da largura e altura dos elementos*/
} /*Fechamento do seletot universal */
/*Remove o padding de todos os elementos*/

html{
  height: 100%;
}

body {
  font-family: Arial, sans-serif; /*Define a fonte da página como Arial, com uma alternativa de sans-serif*/
  background-color: #ffdcdc; /*Define a cor de fundo do body / corpo de html */
  color: rgb(
    240,
    240,
    240
  ); /*Define a cor do texto com um tom suave de branco */
  height: 100%;
} /*Fechamento do body*/

/*Estilo do cabeçalho*/

header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 10%;
  text-align: center;
  flex-direction: row-reverse;
  background-color: #d90000;
} /*Fechamento do header*/
/*Estilho do rodapé / footer */

header button {
  background-color: #a80805;
  color: rgb(240, 240, 240);
  padding: 10px; /*Define o espaçao interno do botão em 10px (vertical) e 20px (horizontal)*/
  border-radius: 5px; /*Arredonda os cantos do botão*/
  border-color: #f4ebeb; /*Remove a borda padrão do botão*/
  cursor: pointer; /*Define o cursor como um ponteiro ao passar sobre o botão*/
} /*Fechamento do header button*/

header h3 {
  /*Remove a margem e o padding padrãodo h3 dentro do header*/
  margin: 0;
  padding: 0;
  position: absolute;
  left: 46%;
} /*Fechamento do header h3*/

main {
  display: flex;
  justify-content: center;
  align-items: start;
  height:100%
} /*Fechamento do main*/

#formLogin {
  background-color: #fd7c7c;
  border-radius: 10px;
  width: 420px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: solid 1px #900b09;
}

#formCad {
  background-color: #fd7c7c;
  border-radius: 10px;
  width: 420px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: solid 1px #900b09;
}

.logoL img {
  max-width: 220px;
  border-color: #a80805;
  margin-bottom: 25px;
  border-radius: 5px;
}

.logoC img {
  max-width: 220px;
  border-color: #a80805;
  border-radius: 5px;
}

.login label {
  display: flex;
  flex-direction: left;
  margin-top: 10px;
  flex: 1;
  color: rgb(11, 11, 11);
}

.cadastro label {
  display: flex;
  flex-direction: left;
  flex: 1;
  color: rgb(11, 11, 11);
}

.login input {
  border: solid 1px #900b09;
  width: 300px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.cadastro input {
  border: solid 1px #900b09;
  width: 300px;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 2px;
}

.link a {
  color: #a80805;
}

.buttonL input {
  width: 300px;
  padding: 10px;
  background-color: #a80805;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 20px;
}

.buttonC input {
  width: 300px;
  padding: 10px;
  background-color: #a80805;
  color: white;
  border: none;
  border-radius: 3px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #d90000;
  color: rgb(240, 240, 240);
  bottom: 0; /*Alinha o rodapé abaixo da página*/
  position: absolute; /*Posiciona o rodapé de forma absoluta*/
  width: 100%;
  height: 10%;
} /*Fechamento do footer*/

#conteudo {
  padding: 10px;
  height: 100%;
  width: 70%;
  float: right;
  text-align: center;
  color: black;
}
#menu {
  width: 30%;
  height:80%;
  margin: 0;
  padding: 0;
  float: left;
  border-radius: 12px;
  background: #F7F0F0;
}

#menu ul li {
  margin: 0;
  padding: 5px;
  padding-top: 12px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  list-style-type: none;
  height: 44px;
}

#menu a {
  color: black;
  text-decoration: none;
  padding: 8px;
}


#finalizar a{
  color: #ea0000;
  text-decoration: none;
  padding: 8px;
  border-radius: 12px;
}

#listSalas li {
  margin: 0;
  padding: 5px;
  text-align: left;
  list-style-type: none;
  border: solid #A80805 2px;
  background-color: #FD7C7C;
}
